@media screen and (min-width: 600px) {

    /* Hitokoto Page */
    #hitokoto{
        padding-top:18%;
        margin-left: auto;
        margin-right: auto;
        z-index:1;
        width:55%;
    }
    .background{
        -webkit-filter: brightness(0.6);
        filter: brightness(0.6);
        position:absolute;
        width:100%;
        height:100%;
        z-index:-1;
        background:url(https://piccdn.freejishu.com/images/2016/08/31/c4b13c12ac85e5f0c45f96750782c626.jpg) center no-repeat;
        background-size:cover;
    }
    /* Content Style */
    .hitokoto-content {
        /*border-radius: 2px;*/
        padding: 80px 56px;
        margin-bottom: 80px;
    }
    /*Api Introduction Page*/
    .apitable{
        border-collapse: collapse;
    }
    .apitable>tbody>tr>td , .apitable>tbody>tr>th{
        border:1px   solid  #d7d7d7;
    }
}
@media screen and (max-width: 600px) {
    /*table{
        border-collapse: collapse;
    }
    td ,th  {
        border:1px   solid  #d7d7d7;
    }*/
    .apitable{
        border-collapse: collapse;
    }
    .apitable>td,.apitable>th{
        border:1px   solid  #d7d7d7;
    }
    /* Hitokoto Page */
    #hitokoto{
        padding-top:50%;
        margin-left: auto;
        margin-right: auto;
        z-index:1;
    }

    .background{
        -webkit-filter: brightness(0.6);
        filter: brightness(0.6);
        position:absolute;
        width:100%;
        height:100%;
        z-index:-1;
        background:url(https://piccdn.freejishu.com/images/2016/09/25/930f5212c99ccc71accd4615cb03e255.jpg) center no-repeat;
        background-size:cover;
    }
    /* Content Style */
    .hitokoto-content {
        /*border-radius: 2px;*/
        padding: 20px;
    }

}
/* Hitokoto Page */
.text{
    font-size:30px;
    color:white;
    line-height:1em;
    font-family:'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
.text_author{
    font-size:20px;
    color:rgba(255,255,255,0.8);
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
#footer{
    position: fixed;
    bottom: 5px;
    right:5px;
    margin-bottom:0px;
    text-align:right;
    z-index:4;
    color:white;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

/* About Page */
header{
    box-shadow:0px 0px 3px #000000;
}
.hitokoto-ribbon {
  width: 100%;
  height: 25vh;
  background-color: #3F51B5;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.hitokoto-main {
  margin-top: -20vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}


.hitokoto-container {
  max-width: 1800px;
  width: calc(100% - 16px);
  margin: 20px auto 20px auto;

}

.hitokoto-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}

.hitokoto-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

.ticket-table tr td p {
    margin: 0;
    line-height: 0px;
}

.uploaded {
    height: 150px;
    margin: 0 10px 0 0;
    box-shadow: 0 0 10px #CCC;
}

.pd-30 {
    padding: 30px;
}

.expanded {
    width: 100%;
}

.progress-wrap {
    margin-top:10px;
    margin-bottom:10px;
}

.picbox {
    padding-top:0;
    padding-bottom:10px;
}

.fix-reply-container {
    max-width: 1250px;
    margin: 0;
}

.fix-reply-container p {
    width: 100%;
}
/*Api Introduction Page*/
.apitable{
    border-collapse: collapse;
}
.apitable>tbody>tr>td , .apitable>tbody>tr>th{
    border:1px   solid  #d7d7d7;
}
/* Login & Register Page */

